<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head data-th-replace="fragments/mainlayout :: head('Home')" />


<body>
	<div data-th-replace="fragments/mainlayout :: bodyHeader"></div>
	<div data-th-replace="fragments/mainlayout :: carousel"></div>
	
	<div id="LowerHalfMainPage" class="row" style="width:100%;height:328px;margin:auto;display:block;">
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">Panel Heading</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">Dummy Content</div>
						<div class="col-xs-6">Dummy Content</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Dummy Content</div>
						<div class="col-xs-6">Dummy Content</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Panel Heading</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-3">Dummy Content</div>
						<div class="col-xs-3">Dummy Content</div>
						<div class="col-xs-3">Dummy Content</div>
						<div class="col-xs-3">Dummy Content</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="container island" style="float: right;width: auto;">
				<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title" data-th-text="#{login.title}">Login</h3>
						</div>

						<div data-sec-authorize="isAnonymous()" class="panel-body">
							<form role="form" data-th-action="@{/login}" method="POST">
								<fieldset>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
											<input class="form-control" data-th-placeholder="#{login.prompt.username}" type="text" name="username" required="true" autofocus="true" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false"/>
										</div>
									</div>

									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
											<input class="form-control" data-th-placeholder="#{login.prompt.password}" type="password" name="password" value="" required="true" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false"></input>
										</div>
									</div>

									<div class="form-group">
										<input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}"> </input>
										<input type="submit" class="btn btn-lg btn-success btn-block" name="submit" data-th-value="#{login.login}"></input>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
			</div>
		</div>
		
	</div> 
</body>


<footer>
</footer>

</html>