<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>College Collective</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="user-scalable=yes,width=device-width, initial-scale=1"></meta>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" data-th-src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> -->
	<link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" data-th-href="@{/css/main.css}" />
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<script type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" data-th-src="@{/webjars/bootstrap-3.2.0/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class = "nav-wrapper">
		<nav class="navbar navbar-default" style="height: 80px;">
			<div class="container-fluid">
				<div class="picSquare">
					<figure>
						<img src="../static/resources/images/logo.png" th:src="@{/images/logo.png}" style="height:108px;width:108px;margin-top: 22px;float: left;"/>
						<figcaption>College Collective</figcaption>
					</figure>
				</div>
				
				
					<ul class="nav navbar-nav">

  					<li><a href="/">Home</a></li>
  					<li class="dropdown"><a href="/Colleges" data-toggle="dropdown" class="dropdown-toggle">Colleges<b class="caret"></b></a>
	  					<ul class="dropdown-menu">
	  						<li><a href="/SeattleUniversity" style="color:rgb(247,148,29);font: corbel;">Seattle University</a></li>
	  						<li><a href="/UniversityOfWashington" style="color:rgb(247,148,29);font: corbel;">University of Washington</a></li>
	  						<li><a href="/SeattlePacificUniversity" style="color:rgb(247,148,29);font: corbel;">Seattle Pacific University</a></li>
	  					</ul>
  					</li>
  					<li class="dropdown"><a href="/About" data-toggle="dropdown" class="dropdown-toggle">About<b class="caret"></b></a>
	  					<ul class="dropdown-menu">
	  						<li><a href="/Company" style="color:rgb(247,148,29);">Company</a></li>
	  						<li><a href="/Leadership" style="color:rgb(247,148,29);">Leadership</a></li>
	  						<li><a href="/News" style="color:rgb(247,148,29);">News</a></li>
	  					</ul>
	  				</li>
  					<!--<li><a href="#">Page 3</a></li>-->
  					<li class="active"><a href="/login" style="float: right;">Login</a></li>
				</ul>

				<div class="col-sm-3 col-md-3 pull-right">
					<form class="navbar-form" role="search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term"></input>
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>