<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="fragments/mainlayout :: head('Profile')" />

<body>
	<div data-th-replace="fragments/mainlayout :: bodyHeader"></div>
	<div data-th-replace="fragments/mainlayout :: carousel"></div>
	
	<div id="lowerHalfProfilePage" class="row">
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">Profile</div>
				<div class="panel-body">
					<div class="row">
						<p th:text="'Name: ' + ${user.name}">Name: </p>
					</div>
					<div class="row">
						<p th:text="'College: ' + ${user.college}">College: </p>
					</div>
					<div class="row">
						<p th:text="'Contact: ' + ${user.contact}">Contact: </p>
					</div>
				</div>
			</div>
		</div>

		<div id="profile" class="col-xs-6" style="z-index: 1000;position: relative;display: inline-block;top: -350px;">
			<div id="profilePicture" class="row">
				<img src="pics/mattdioso.jpg" style="height: 300px;width: 330px;float: right;">
			</div>
			<div class="row" id="profileInfo">
				<p th:text="${user.name}" style="margin-top: 20px;font-size: 20px;">Matt Dioso</p>
				<p th:text="${user.school}" style="margin-bottom: 90px; margin-top: 10px; font-size: 20px;">Seattle University</p>
			</div>
			<div class="row">
				<button id="messageButton" type="button" class="btn">Message</button>
			</div>
		</div>
		
	</div>
</body>


<footer>
</footer>

</html>