<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head data-th-replace="fragments/mainlayout :: head('Register')" />

<body>
	<div data-th-replace="fragments/mainlayout :: bodyHeader"></div>
	<div class="container island">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Registration</h1>
			</div>

			<div class="panel-body">
				<div class="row">
					<a id="AcademicButton" href="registration.html" data-th-href="@{/registration/register}" class="btn btn-default">Register as New User</a>

					<a id="AcademicButton" href="changepassword.html" data-th-href="@{/registration/change_password}" class="btn btn-default">Change Password</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>