<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="global desktop">

<head data-th-replace="fragments/mainlayout :: head('Seattle University - Financials')"/>
	
<body>
	<div data-th-replace="fragments/mainlayout :: bodyHeader"></div>
	<div data-th-replace="fragments/mainlayout :: carousel"></div>
	
	<div class="row" style="margin-left:145px;">
		<div class="col-xs-6">
			<p style="width:100px;height:30px;background-color:rgb(247, 148, 29);color:#fff;border:1px rgb(247, 148, 29);">
				Budgets
			</p>
			<p style="color:rgb(247, 148, 29);">Tuition</p>
			<p style="color:rgb(247, 148, 29);">Books/Supplies</p>
			<p style="color:rgb(247, 148, 29);">Technology Fee</p>
			<p style="color:rgb(247, 148, 29);">Recreational Fee</p>
			<p style="color:rgb(247, 148, 29);">Room/Board</p>
			<p style="color:rgb(247, 148, 29);">Personal Expenses</p>
		</div>
		<div class="col-xs-6">
			<p style="width:100px;height:30px;color:rgb(247, 148, 29);background-color:#fff;border:1px rgb(247, 148, 29);">
				Undergrad On/Off Campus
			</p>
			<p style="color:rgb(247, 148, 29);">$43,785</p>
			<p style="color:rgb(247, 148, 29);">$1200</p>
			<p style="color:rgb(247, 148, 29);">$525</p>
			<p style="color:rgb(247, 148, 29);">$300</p>
			<p style="color:rgb(247, 148, 29);">$12,288</p>
			<p style="color:rgb(247, 148, 29);">$2,340</p>
		</div>
	</div>

	<div class="row" style="margin-left:145px;">
		<div class="col-xs-6">
			<p style="width:100px;height:30px;background-color:rgb(247, 148, 29);color:#fff;border:1px rgb(247, 148, 29);">
				Tuition
			</p>
			<p style="color:rgb(247, 148, 29);">Full Time(12-20 credits)</p>
			<p style="color:rgb(247, 148, 29);">Part Time (1-11 credits)</p>
			<p style="color:rgb(247, 148, 29);">Summer</p>
			<p style="color:rgb(247, 148, 29);">Auditors</p>
		</div>
		<div class="col-xs-6">
			<p style="width:100px;height:30px;color:rgb(247, 148, 29);background-color:#fff;border:1px rgb(247, 148, 29);">
				Per Credit
			</p>
			<p style="color:rgb(247, 148, 29);"></p>
			<p style="color:rgb(247, 148, 29);">$973</p>
			<p style="color:rgb(247, 148, 29);">$730</p>
			<p style="color:rgb(247, 148, 29);">$235</p>
		</div>
		<div class="col-xs-6">
			<p style="width:100px;height:30px;color:rgb(247, 148, 29);background-color:#fff;border:1px rgb(247, 148, 29);">
				Per Quarter
			</p>
			<p style="color:rgb(247, 148, 29);">$14,594</p>
		</div>
		<div class="col-xs-6">
			<p style="width:100px;height:30px;color:rgb(247, 148, 29);background-color:#fff;border:1px rgb(247, 148, 29);">
				Academic Year
			</p>
			<p style="color:rgb(247, 148, 29);">$43,785</p>
		</div>
	</div>

	<div class="row" style="margin-left:145px;">
		<div class="col-xs-6">
			<p style="width:100px;height:30px;background-color:rgb(247, 148, 29);color:#fff;border:1px rgb(247, 148, 29);">
				Fees
			</p>
			<p style="color:rgb(247, 148, 29);">Undergrad Application Fee</p>
			<p style="color:rgb(247, 148, 29);">Health Insurance Fee</p>
			<p style="color:rgb(247, 148, 29);">Matriculation Fee (1 time)</p>
		</div>
		<div class="col-xs-6">
			<p style="width:100px;height:30px;color:rgb(247, 148, 29);background-color:#fff;border:1px rgb(247, 148, 29);">
			</p>
			<p style="color:rgb(247, 148, 29);">$55</p>
			<p style="color:rgb(247, 148, 29);">$1,837</p>
			<p style="color:rgb(247, 148, 29);">$150</p>
		</div>
	</div>

	<div class="row" style="margin-left:145px;">
		<p style="width:100px; height:30px;background-color:rgb(247, 148, 29);color:#fff; border:1px rgb(247, 148, 29);">Financials</p>
		<p style="width:1000px;height:80px;background-color:#fff;color:rgb(247, 148, 29);border:1px rgb(247, 148, 29);">
			Please describe what school you attended, your experiences there, and what to expect.
		</p>
	</div>

	<div data-th-replace="fragments/mainlayout :: commentPage('Financial Aid at Seattle University')"></div>
</body>
</html>
