<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="global desktop">

<head data-th-replace="fragments/mainlayout :: head('Seattle University')" />

<body>
	<div data-th-replace="fragments/mainlayout :: bodyHeader"></div>
	<div data-th-replace="fragments/mainlayout :: carousel"></div>

	<div class="btn-group btn-group-justified">
		<div class="row">
			<a id="collegeButton" data-target="#commentCarousel" data-slide-to="0" class="btn btn-primary">College of Science and Engineering</a>
			<a id="collegeButton" data-target="#commentCarousel" data-slide-to="1" class="btn btn-primary">College of Arts and Sciences</a>
			<a id="collegeButton" data-target="#commentCarousel" data-slide-to="2" class="btn btn-primary">College of Nursing</a>
			<a id="collegeButton" data-target="#commentCarousel" data-slide-to="3" class="btn btn-primary">Albers School of Business and Economics</a>
		</div>
		<div class="row">
			<a id="collegeButton" data-target="#commentCarousel" data-slide-to="4" class="btn btn-primary">Matteo Ricci College</a>
			<a id="collegeButton" data-target="#commentCarousel" data-slide-to="5" class="btn btn-primary">School of Law</a>
			<a id="collegeButton" data-target="#commentCarousel" data-slide-to="6" class="btn btn-primary">School of New and Continuing Students</a>
			<a id="collegeButton" data-target="#commentCarousel" data-slide-to="7" class="btn btn-primary">School of Theology and Ministry</a>
		</div>
	</div>

	<div id="commentCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-pause="null">
		<ol class="carousel-indicators">
			<li data-target="#commentCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#commentCarousel" data-slide-to="1"></li>
			<li data-target="#commentCarousel" data-slide-to="2"></li>
			<li data-target="#commentCarousel" data-slide-to="3"></li>
			<li data-target="#commentCarousel" data-slide-to="4"></li>
			<li data-target="#commentCarousel" data-slide-to="5"></li>
			<li data-target="#commentCarousel" data-slide-to="6"></li>
			<li data-target="#commentCarousel" data-slide-to="7"></li>
		</ol>

		<div class="carousel-inner" role="listbox">
			<div data-target="#CSE" class="active item">
				<div data-th-replace="fragments/mainlayout :: commentPage('College of Science and Engineering')"></div>
			</div>

			<div data-target="#CAS" class="item">
				<div data-th-replace="fragments/mainlayout :: commentPage('College of Arts and Sciences')"></div>
			</div>

			<div data-target="#CN" class="item">
				<div data-th-replace="fragments/mainlayout :: commentPage('College of Nursing')"></div>
			</div>

			<div data-target="#albers" class="item">
				<div data-th-replace="fragments/mainlayout :: commentPage('Albers School of Business and Economics')"></div>
			</div>

			<div data-target="#MRC" class="item">
				<div data-th-replace="fragments/mainlayout :: commentPage('Matteo Ricci College')"></div>
			</div>

			<div data-target="#SoL" class="item">
				<div data-th-replace="fragments/mainlayout :: commentPage('School of Law')"></div>
			</div>

			<div data-target="#NCS" class="item">
				<div data-th-replace="fragments/mainlayout :: commentPage('School of New and Continuing Students')"></div>
			</div>

			<div data-target="#STM" class="item">
				<div data-th-replace="fragments/mainlayout :: commentPage('School of Theology and Ministry')"></div>
			</div>
		</div>

		<a class="left carousel-control" href="#commentCarousel" role="button" data-slide="prev">
			<span class="icon-prev" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>

		<a class="right carousel-control" href="#commentCarousel" data-slide="next">
			<span class="icon-next" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</body>


<footer>
</footer>

</html>