<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="global desktop">

<head data-th-replace="fragments/mainlayout :: head('Seattle University - Campus')" />

<body>
	<div data-th-replace="fragments/mainlayout :: bodyHeader"></div>
	<div data-th-replace="fragments/mainlayout :: carousel"></div>

	<div class="row" style="margin-left:145px;">
		<p style="width:100px; height:30px;background-color:rgb(247, 148, 29);color:#fff; border:1px rgb(247, 148, 29);">Campus</p>
		<p style="width:1000px;height:80px;background-color:#fff;color:rgb(247, 148, 29);border:1px rgb(247, 148, 29);">
			Please describe the feel of the campus, your experiences with Housing and Residence and the Academics buildings.
		</p>
	</div>

	<div data-th-replace="fragments/mainlayout :: commentPage('Campus of Seattle University')"></div>
</body>
	
</html>